@import "../../../theme/colors";

FlexboxLayout {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 60%;
}

.btn-success {
  background: $success;
  border-color: $success;
}

.btn-fail {
  background: $fail;
  border-color: $fail;
}

.btn-markStatus {
  font-size: 30;
  margin-top: 10;
}
