<ns-action-bar
  [title]="!isCreating ? 'Edit Challenge' : 'Create Challenge'"
  [hasMenu]="false"
></ns-action-bar>
<FlexboxLayout class="nt-form">
  <StackLayout class="nt-input">
    <label
      text="Title"
      class="nt-label"
      [ngClass]="{ invalid: !titleCtrl.valid && titleCtrl.touched }"
    ></label>
    <TextField
      hint="insert title"
      returnKeyType="next"
      class="input-field"
      required
      maxLength="15"
      [(ngModel)]="title"
      #titleCtrl="ngModel"
    ></TextField>
    <Label
      *ngIf="!titleCtrl.valid && titleCtrl.touched"
      text="Title is not valid. Please try again."
    ></Label>
  </StackLayout>
  <StackLayout class="nt-input">
    <label
      text="Description"
      class="nt-label"
      [ngClass]="{ invalid: !desCtrl.valid && desCtrl.touched }"
    ></label>
    <TextView
      hint="insert description"
      returnKeyType="done"
      class="input-field"
      required
      maxLength="150"
      [(ngModel)]="description"
      #desCtrl="ngModel"
    ></TextView>
    <Label
      *ngIf="!desCtrl.valid && desCtrl.touched"
      text="Description is not valid. Please try again."
    ></Label>
  </StackLayout>
  <Button
    class="btn"
    text="Save"
    [isEnabled]="titleCtrl.valid && desCtrl.valid"
    (tap)="onSubmit(titleCtrl.value, desCtrl.value)"
  ></Button>
</FlexboxLayout>
