<ns-action-bar
  [title]="finishCreating ? 'Replace Challenge' : 'Edit Challenge'"
  [hasMenu]="false"
></ns-action-bar>
<FlexboxLayout class="nt-form">
  <StackLayout class="nt-input">
    <label text="Title" class="nt-label"></label>
    <TextField hint="insert title" class="input-field"></TextField>
  </StackLayout>
  <StackLayout class="nt-input">
    <label text="Description" class="nt-label"></label>
    <TextField hint="insert description" class="input-field"></TextField>
  </StackLayout>
  <Button class="btn" text="Save"></Button>
</FlexboxLayout>
