<TabView
  *ngIf="!isLoading"
  androidTabsPosition="bottom"
  androidSelectedTabHighlightColor="#7c015d"
  selectedTabTextColor="#7c015d"
>
  <StackLayout *tabItem="{ title: 'Today', iconSource: 'res://check' }">
    <page-router-outlet name="today"> </page-router-outlet>
  </StackLayout>
  <StackLayout
    *tabItem="{ title: 'Current Challenge', iconSource: 'res://medal' }"
  >
    <page-router-outlet name="currentChallenge"> </page-router-outlet>
  </StackLayout>
</TabView>

<FlexboxLayout justifyContent="center" alignItems="center" *ngIf="isLoading">
  <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</FlexboxLayout>
