@import "~@nativescript/theme/core";

@import "./theme/colors";

ActionBar {
  background: $primary;
  color: white;
}

.form-control {
  border-bottom-color: #7c015d;
  border-bottom-width: 2;
  margin: 5 0;
  font-size: 20;
  padding: 8 4;
}

.drawer-container {
  background: linear-gradient(140deg, #2b0c72, #5c3fa0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20;

  .btn {
    width: 80%;
    height: 45;
    font-size: 18;
  }
}

.btn {
  border-width: 1;
  padding: 5 10;
  border-radius: 30%;
  margin: 5 0;
  border-color: $primary;
}

.btn-flat {
  border-color: transparent;
  color: $primary;
  border-width: 1;
  z-index: 0;
}

.nt-form {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.nt-input {
  width: 80%;

  .nt-label {
    color: $primary;
    font-weight: bold;
    font-family: "Oswald", "Oswald-Regular", "Oswald-Bold";
  }

  .nt-label.invalid {
    color: red;
  }

  .input-field {
    border-bottom-width: 2;
    border-bottom-color: $primary;
    width: 100%;
    color: black;
  }

  .input-field.ng-invalid.ng-touched {
    color: red;
    border-bottom-color: red;
  }
}

.h1 {
  font-weight: bold;
  color: $primary;
  font-family: "Dancing Script", "DancingScript-VariableFont_wght";
}

.h3 {
  font-family: "Dancing Script", "DancingScript-VariableFont_wght";
}

.fa {
  font-family: "FontAwesome", "Font-Awesome";
}
