/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "@nativescript/theme/css/core.css";
@import "@nativescript/theme/css/default.css";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/
button.-primary {
  font-size: 18;
}

.btn {
  background: #7c015d;
  border-width: 1;
  border-color: #7c015d;
  color: white;
  width: 100%;
  padding: 5 10;
  border-radius: 30%;
  margin: 5 0;
}

.form-control {
  border-bottom-color: #7c015d;
  border-bottom-width: 2;
  margin: 5 0;
  font-size: 20;
  padding: 8 4;
}

.drawer-container {
  background: linear-gradient(140deg, #2b0c72, #5c3fa0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20;
}
