@import "../../../theme/colors";

GridLayout {
  background-image: url("res://challenge");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-challenge-text {
  color: $white;
}
